.landing-page {
  background-color: palevioletred;
  text-align: center;
  padding: 5%;
}
Table {
  margin-top: 3%;
}
.landPageImage {
  height: 50%;
  width: 50%;
}
.landPageImage2 {
  height: 60%;
  width: 60%;
}
.landPageImage3 {
  height: 40%;
  width: 40%;
}
.rows {
  display: inline-block;
}
h1 {
  font-family: Trattatello, fantasy;
  font-size: 80px;
}
.imageHolders {
  /* background-color: #AA336A;
    border-radius: 50%; */
  /* background-color:rgba(216, 112, 147, 0.395); */
}
h2 {
  font-family: Trattatello, fantasy;
  font-size: 40px;
}
.my-div {
  background-color: palevioletred;
}

.my-div.hovered {
  border-radius: 50%;
  background-color: #aa336a;
}
#theLink {
  color: white;
}

.bubble {
  width: 40%;
  height: 25%;
  left: 73%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vmin;
  background: white;
  box-shadow: 0 -0.25vmin, 0 0.125vmin;
  font-family: "Comic Sans", "Comic Neue", sans-serif;
}

.bubble::before {
  width: 40%;
  height: 100%;
  bottom: -51%;
  border-radius: 50%;
  left: 10%;
  box-shadow: 0.5vmin 0, 2vmin -0.5vmin #ffd, 2vmin -0.5vmin 0 0.5vmin;
  clip-path: polygon(0% 49%, 150% 48%, 150% 100%, 0% 100%);
}
