body{
    background-color: palevioletred;
    text-align:center;
    padding:3%;
}
Table{
    margin-top:3%;
}
.landPageImage{
    height:50%;
    width:50%;
}
.rows{
    display: inline-block;
}
h1{
    font-family:Trattatello, fantasy ;
    font-size:80px;
}