@keyframes moveAnswers {
  from {
    top: 22vh;
  }
  to {
    top: 90vh;
  }
}

.game-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 217, 230);
  position: relative;
}

.start-page {
  width: 100vw;
  height: 100vh;
  background-color: palevioletred;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answers {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 22vh;
  animation: moveAnswers 7s ease-in-out 0.5s;
}

.game-page__character {
  max-height: 22%;
  object-fit: contain;
  position: absolute;
  bottom: 7vh;
  left: 50vw;
}
